

.list-group{
    background-color: rgb(221, 221, 235);
    display: flex;
    }

    .Contact-container{
        display: flex;
    }

 .btn btn-danger{
    position: left;
    justify-items: end;
 }   